{% extends 'nav.html' %}

{% block content %}
{% if user.is_authenticated and user.is_staff and user.is_superuser %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card-body">
            <form action="#" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-success">Add Book</button>
            </form>
        </div>
    </div>
</div>
{% else %}
<h2>Sorry Only admin can add book!</h2>
{% endif %}
{% endblock %}