*{
    margin:0;
    padding:0;

}

.button a{
    padding-top: 10px;
    padding-left: 12px;
    padding-bottom: 10px;
    padding-right: 12px;
    border: none;
    background-color: green;
    color:white;
    border-radius: 20px;
}

.button a:hover{
    background-color: orange;
    text-decoration: none;
}
.dist{
    margin-left:16px;
}